In [175]:
from __future__ import print_function
import numpy as np

In [239]:
np.mean([1.0,0])

0.5

In [177]:
stringVariable = "Hello World!\n\n\n\n"

In [178]:
type(stringVariable)

str

In [179]:
intVariable = 3
print(intVariable)

3

In [180]:
floatVariable = 3.1415926

In [181]:
float(intVariable)

3.0

In [241]:
print("let's print an integer {x:d} and a float {y:f} and an integer again {x:d}".format(x = intVariable, y = float(intVariable)))

let's print an integer 3 and a float 3.000000 and an integer again 3

In [183]:
print("let's print an integer {x:d} and a float {y:>2f} and an integer again {x:d}".format(x = intVariable, y = float(intVariable)))

let's print an integer 3 and a float 3.000000 and an integer again 3

In [184]:
print("let's print an integer {0:d} and a float {1:>2f} and an integer again {0:d}".format(intVariable,floatVariable))

let's print an integer 3 and a float 3.141593 and an integer again 3

In [185]:
stringVariable.format?

In [186]:
isinstance(intVariable, int)| isinstance(floatVariable, float)

True

In [240]:
isinstance(intVariable, int) > 0

True

In [188]:
if True + False:
    print ("it's true")

it's true

In [189]:
if True * True:
    print ("it's true")
else: 
    print ("it's False")

it's true

In [190]:
if True * False: # 1*0 = 0
    print ("it's true")
else: 
    print ("it's False")

it's False

In [191]:
if (1>0) and (2>1): # True + True, 1 + 1 > 2
    print ("True")

True

In [192]:
np.array([True, True, False]) * np.array([True, False, True])

array([ True, False, False], dtype=bool)

In [193]:
if (1<0):
    print("it's true")
else:
    print("it's false")

it's false

In [194]:
if 0:#print as long as it's not 0
    print("it's True")

In [195]:
aList = [0,1.0,'Hello']

In [196]:
aList.append('I am a string')

In [197]:
aList.append('''I am a string
''')
aList

[0, 1.0, 'Hello', 'I am a string', 'I am a string\n']

In [198]:
aList + aList

[0,
 1.0,
 'Hello',
 'I am a string',
 'I am a string\n',
 0,
 1.0,
 'Hello',
 'I am a string',
 'I am a string\n']

In [199]:
aList[0] = 'World'

In [200]:
aList[2] + aList[0]

'HelloWorld'

In [201]:
aTuple = (2,3,4)

In [202]:
aTuple

(2, 3, 4)

In [203]:
aTuple[2] = 2 # a tuple is not immutable

TypeError: 'tuple' object does not support item assignment

In [204]:
aTuple = aTuple * 2
aTuple

(2, 3, 4, 2, 3, 4)

In [205]:
stringVariable * 10

'Hello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\nHello World!\n\n\n\n'

In [206]:
np.array([0.,1.,2.]) + np.array([0.,2.,2.])

array([ 0.,  3.,  4.])

In [207]:
emptyAr = np.zeros(100)
emptyAr

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [208]:
a = np.int8(127) #int8 can only store number <=127, one number bigger, it will return -128, one more bigger --> -127
a

127

In [209]:
a = np.int16(32767) #the largest number can be store  = 2**16/2-1
a

32767

In [210]:
2**16/2-1

32767.0

In [211]:
emptyAr[0] = 'string'

ValueError: could not convert string to float: 'string'

In [212]:
np.array(aList[:3]) 
#array can only contains variables in the same type, 
#don't allow hybrate type storage but more efficient

array(['World', '1.0', 'Hello'],
      dtype='<U5')

In [213]:
emptyAr = np.ones((3,4))
emptyAr[0][0]

1.0

In [214]:
emptyAr.shape

(3, 4)

In [215]:
emptyAr.mean()

1.0

In [216]:
" ".join(stringVariable.strip().strip('!').split()).lower() # " ".join-->let two words rejoin together with " " split

'hello world'

In [217]:
" ".join(stringVariable.strip().strip('!').split()).lower().replace('l','7')

'he77o wor7d'

In [218]:
stringVariable

'Hello World!\n\n\n\n'

write a script that prints to standard output "Good Morning <Name>" if before 1PM
prints to standard output "Good Afternoon <Name>" if after 1PM
where <Name> is the user name input intline

if you can: make sure it works with both python 2 and 3
hints: 
- you can use raw_input/input to accept arguments upon request.
- you can use the datetime package to check the time of the day
- you can use try/except if you come across functions that work differently in python2 vs python3

In [252]:
from __future__ import print_function
import sys
import datetime as dt

timeNow = dt.datetime.now().time()
time1 = dt.datetime.strptime('13:00:06.000-0000','%H:%M:%S.%f%z').time()
#t.datetime.strptime('12:00:01 AM', '%I:%M:%S %p')
print (timeNow)
print (time1)

if timeNow < time1:
    print("Good Morning!" + input())
else:
    print ("Good Afternoon!" + input())

14:02:50.861304
13:00:06
Baoling
Good Afternoon!Baoling

In [220]:
aList

['World', 1.0, 'Hello', 'I am a string', 'I am a string\n']

In [221]:
np.random.seed(999)
anArray = np.random.randn(30).reshape(10,3)

In [222]:
anArray

array([[ 0.12715784,  1.40189088,  0.31481499],
       [-0.85844916, -0.26613444, -0.64890071],
       [ 1.56626757, -2.09137019,  1.45632806],
       [ 0.94529342, -0.40020119,  0.3152273 ],
       [-1.11006083, -0.58482153, -0.18840956],
       [ 0.81302365, -0.16130472,  1.60087155],
       [ 0.98434258, -0.83544737, -0.18664934],
       [-0.85806707, -0.75977816, -1.51205424],
       [ 1.74777474,  2.13005498,  0.07115422],
       [-1.84164224, -0.3525907 , -0.40890379]])

In [223]:
anArray[0:100:2]

array([[ 0.12715784,  1.40189088,  0.31481499],
       [ 1.56626757, -2.09137019,  1.45632806],
       [-1.11006083, -0.58482153, -0.18840956],
       [ 0.98434258, -0.83544737, -0.18664934],
       [ 1.74777474,  2.13005498,  0.07115422]])

In [224]:
anArray[100:0:-2]

array([[-1.84164224, -0.3525907 , -0.40890379],
       [-0.85806707, -0.75977816, -1.51205424],
       [ 0.81302365, -0.16130472,  1.60087155],
       [ 0.94529342, -0.40020119,  0.3152273 ],
       [-0.85844916, -0.26613444, -0.64890071]])

In [225]:
np.where(anArray>0)

(array([0, 0, 0, 2, 2, 3, 3, 5, 5, 6, 8, 8, 8]),
 array([0, 1, 2, 0, 2, 0, 2, 0, 2, 0, 0, 1, 2]))

In [226]:
anArray.astype(int)

array([[ 0,  1,  0],
       [ 0,  0,  0],
       [ 1, -2,  1],
       [ 0,  0,  0],
       [-1,  0,  0],
       [ 0,  0,  1],
       [ 0,  0,  0],
       [ 0,  0, -1],
       [ 1,  2,  0],
       [-1,  0,  0]])

EXERCISE:
create a numpy array containing numbers from 1 to 10
extract only even numbers with boolean operations
reverse it
make all those number odd (hint: you can use use range or np.arange to create the array)

In [227]:
arr1 = np.random.uniform(low=1, high=10, size=(50,))
arr1 = arr1.astype(int)
arr1

array([8, 1, 8, 8, 9, 9, 8, 1, 4, 4, 5, 9, 8, 2, 7, 7, 9, 5, 7, 8, 3, 2, 7,
       9, 9, 3, 9, 7, 1, 7, 6, 9, 7, 2, 9, 8, 5, 8, 9, 6, 6, 4, 9, 4, 6, 6,
       3, 1, 8, 3])

In [228]:
arr1 = arr1[arr1%2 ==0]
arr1

array([8, 8, 8, 8, 4, 4, 8, 2, 8, 2, 6, 2, 8, 8, 6, 6, 4, 4, 6, 6, 8])

In [229]:
arr1[::-1]

array([8, 6, 6, 4, 4, 6, 6, 8, 8, 2, 6, 2, 8, 2, 8, 4, 4, 8, 8, 8, 8])

In [238]:
isinstance(arr1,np.ndarray)

True

In [231]:
arr2 = np.zeros(len(arr1),int)
for i in range(len(arr1)):
    arr2[i] = arr1[-i-1]
arr2

array([8, 6, 6, 4, 4, 6, 6, 8, 8, 2, 6, 2, 8, 2, 8, 4, 4, 8, 8, 8, 8])

In [232]:
arr2 + 1

array([9, 7, 7, 5, 5, 7, 7, 9, 9, 3, 7, 3, 9, 3, 9, 5, 5, 9, 9, 9, 9])

In [233]:
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

In [234]:
pr = lambda x,y: x * y

In [235]:
pr(3.0,2.0)

6.0

In [236]:
def pr(x,y=2,z=3): #y=2 is a default value, if you don't pass value to y, it will take 2 as default
    '''
    x * y
    
    '''
    return x * y * z

In [237]:
pr(3,3,4)

36

EXERCISE

-create a function that takes a string

-checks if the string is a palindrome

-returns 1 if true

-return -1 if false

-and also prints "Yes its a palindrome"

-or "this is not a palindrome"

-if you finish early add a print statement that prints ONLY the unique part (rad in radar)

I wrote mine in a python file names ispalindrome.py and I can import it from it and run it (see below)

In [265]:
def lookForPal(s):
    s1 = s[::-1]
    l = len(s)/2
    s2 = s[:l]
    print l
    if s.lower() ==s1.lower():
        #print ('Yes its a palindrome' + s2)
    else: 
        print ('this is not a palindrome')
        return -1

In [267]:
lookForPal('noon')

TypeError: slice indices must be integers or None or have an __index__ method

In [255]:
'hann,ah,'.replace(',','')

'hannah'

In [258]:
s = 'sad,f.:'

In [256]:
for c in ',.:':
    s.replace(c,'')

In [259]:
s

'sad,f.:'